<!DOCTYPE html>
<html>
<head>
    <title>Internal Sites</title>
</head>
<body>
    <h1>Manage IPs</h1>
    <form id="addForm">
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname"><br>
        <label for="ip">IP:</label>
        <input type="text" id="ip" name="ip"><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port"><br>
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for nickname, details in ip_dict.items() %}
            <li>{{ nickname }}: {{ details.ip }}:{{ details.port }}</li>
        {% endfor %}
    </ul>
    <script>
        document.getElementById("addForm").addEventListener("submit", function(event) {
            event.preventDefault();
            let nickname = event.target.nickname.value;
            let ip = event.target.ip.value;
            let port = event.target.port.value;
            fetch("/add_ip", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({nickname, ip, port})
            }).then(response => response.json()).then(data => location.reload());
        });
    </script>
</body>
</html>
